h1, h2 {
    padding: 25px;
    text-align: center;
}

.section {
    margin: 0 auto;
    max-width: 960px;
    padding: 0px 1.0875rem 1.45rem;
    padding-top: 0;
}











/* ---------------------------------- */
form {
    text-align: center;
    max-width: 650px;
}

input, select, label, textarea {
    max-width: 100%;
    width: 90%;
    text-align: left;
    border-radius: 10px;
}

input, select {
    margin-bottom: 10px;
}

label {
    color: white;
}

#submit {
    text-align: center;
}