.link{
    text-decoration: none;
    color: black;
}

.link:hover {
    text-decoration: none;
    color: black;
}

.post-list {
    border: 1px solid  gainsboro;
    padding: .5rem;
    box-shadow: 0 -1px 4px #ede7e7;
    margin: 1rem;
}

img{
  height: 90% !important;
}

.post-list:hover {
    background-color: whitesmoke;
}

#coverImg {
    height: 400px;
    background-image: url("../images/code.gif");
}

form {
    text-align: center;
    max-width: 650px;
}

input, select, label, textarea {
    max-width: 100%;
    width: 90%;
    text-align: left;
    border-radius: 10px;
}

input, select {
    margin-bottom: 10px;
}

label {
    color: white;
}

#submit {
    text-align: center;
}

h2 {
    margin: 50px auto;
}