.sidenav h3 {
    color: black;
    width: 100%;
    text-align: center;
    border-bottom: 2px solid black;
  }
  
  .library {
      display: flex;
  }
  
  .sidenav {
      height: 100%;
      /* position: fixed; */
      /* z-index: 1; */
      background-color: lightgray;
      padding: 20px;
    }
    
    .sidenav a {
      color: black;
      display: block;
    }